.comment-name{
    color:#385898 !important;

}

.post-time{
    font-size: 9pt;
    font-style: italic;
    color: #b79898;
}

.new_post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.img-profile{
    width:50px;

}

.new_comment{
    display: flex;
    justify-content: center;
}

.each_comment{
    border: solid #e6cdcd;
    max-width: 445px;
    width: 100%;
    border-radius: 7px;
}

.input_comment{
    max-width: 440px;
    width: 100%;
}




/* Page */

.container-fluid {
    width: 75px;
}

.more-menu {
    width: 100px;
}


.firstline_post{
    display: flex;
    flex-direction: row;
}


.img-profile-comment{
    width: 40px;
    border-radius: 50%;
}

.render_comment{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.render_comment_child{
    width: 64%;
}
