{% extends 'base.html' %}
{% block blog %}

        <nav class="navbar navbar-light bg-secondary text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand">
            <h3>Post</h3>
          </a>
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
              </li>
            </ul>
        </div>
        </nav>

        {% include 'view/form_blog.html' %}




  {%for post in posts%}

        <div class="new_post">

       
        <!-- post  -->
        <div class="card firstline_post" style="width: 28rem;">
          <div class="card-body">
            <div>
                    <span class="card-title"><img src={{post.img_url}} class="card-img-top img-profile" alt="..."> {{post.body}}</span>
                </div>
                
                <p class="post-time">Post on: {{post.created}}</p>
                
                <p>{{post.body}}</p>
                

                
              </div>
          <div class="container-fluid">
              {%if post.user_id == current_user.id%}
              <form action={{"/blog/" + post.id|string}} method="POST">
                
                
                <button type="submit" class="more-menu-btn" role="menuitem">Delete</button>
              </form>
              {%else%}
              
              {%endif%}
                        
                   
            </div>
        </div>  
      </div>
        <!-- comment -->
        <div class="new_comment mt-2 mb-2">
          <div class="each_comment">
          <form action={{url_for("comment_post", id=post.id)}} method="POST">
            <input class="input_comment" name="comment" placeholder="write a comment..." />
            <button class="card-link">Comment</button>
          </form>
          {%for comment in post.comments%}
          <div class="mt-2">

            
            <span class="card-title"><img src={{comment.img_url}} class="card-img-top img-profile-comment" alt="..."> <a class="comment-name">{{comment.author_comment}}</a>:</span>
            <span>{{comment.body}}</span>
          </div>
          {% endfor %}
        </div>
        </div>
       
      
  {%endfor%}

    {% endblock  %}
