{% extends 'base.html' %}
{% block blog %}

        <nav class="navbar navbar-light bg-secondary text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand">Blog</a>
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
              </li>
            </ul>
        </div>
        </nav>

        {% include 'view/form_blog.html' %}

        {%for post in posts%}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Title: {{post.title}}</h5>
              <p class="card-text">{{post.body}}</p>
              <h6 class="card-subtitle mb-2 text-muted">Author: {{post.author}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Created Date: {{post.created}}</h6>
              <form action={{"/blog/" + post.id|string}} method="POST">
                <button class="card-link">Delete</button>
            </form>
            </div>
          </div>
    {%endfor%}

   

    {% endblock  %}
